{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ambevinho</title>
    <link rel="stylesheet"  href="{% static 'css/estilos.css' %}">

</head>
<body>

    <ul class="topnav">
      <li><a class="active" href="/">Home</a></li>
      <li><a  href="tweets">Twitter</a></li>
      <li><a href="estatisticas">Estatísticas</a></li>
    </ul>

    <center>
        <h1>Home</h1>
        <br>



        <button onclick="location.href = '/tweets';" id="myButton" class="float-left submit-button" >Tweets</button>
        <button onclick="location.href = '/estatisticas';" id="myButton" class="float-left submit-button" >Estatísticas</button>

        <br><br><br>



    </center>
</body>
</html>